<div id="<%= dom_id linha %>">
  <p>
    <strong>Nome:</strong>
    <%= linha.nome %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= linha.codigo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= linha.tipo_id %>
  </p>

</div>
