<div style="margin: auto;position: relative;max-width: 600px;">

  <p style="color: green"><%= notice %></p>

  <h1>Linhas de Ônibus</h1>

  <%= link_to "New linha", new_linha_path, class:"new_link" %>

  <div id="linhas">
    <% @linhas.each do |linha| %>
      <%= render linha %>
    <% end %>
  </div>
</div>

