<p style="color: green"><%= notice %></p>

<h1>Linhas</h1>

<%= link_to "New linha", new_linha_path, class:"new-link" %>

<div id="linhas">
  <% @linhas.each do |linha| %>
    <%= render linha %>
  <% end %>
</div>

