<div style="margin: auto;position: relative;max-width: 400px;">

  <p style="color: green"><%= notice %></p>

  <h1>Tipos de Linhas</h1>

  <%= link_to "New tipo", new_tipo_path, class:"new-link" %>

  <div id="tipos">
    <% @tipos.each do |tipo| %>
      <%= render tipo %>
    <% end %>
  </div>

  </div>

