<div style="margin: auto;position: relative;max-width: 350px;">

  <p style="color: green"><%= notice %></p>

  <h1>Enderecos</h1>

  <div id="enderecos">
    <% @enderecos.each do |endereco| %>
      <%= render endereco %>
    <% end %>
  </div>

  <%= link_to "New endereco", new_endereco_path, class:"new_link" %>
</div>
