<div id="<%= dom_id terminal %>">

  <div class="terminal_block" >

    <%= link_to terminal.nome, terminal %>
    <span> 
      <%= terminal.endereco.rua %>, <%= terminal.endereco.numero %>
    </span>

    </div>
</div>
