<div style="margin: auto;position: relative;max-width: 450px;">

  <p style="color: green"><%= notice %></p>

  <h1>Terminais</h1>
  
  <%= link_to "New terminal", new_terminal_path, class:"new_link" %>

  <div id="terminals">
    <% @terminals.each do |terminal| %>
      <%= render terminal %>
    <% end %>
  </div>

</div>
