<aside class="sidebar">
    <nav>
        <h1>Trabalho 5 WEB</h1>
        <%= link_to "Linhas", linhas_path, class:"active" %>
        <%= link_to "Tipos", tipos_path %>
        <%= link_to "Terminals", terminals_path %>
    </nav>
</aside>
