<aside class="sidebar">
    <nav>
        <h1>Trabalho 5 WEB</h1>
        <a class="active" href="./index.html">Home</a>
        <%= link_to "Linhas", linhas_path %>
        <%= link_to "Tipos", tipos_path %>
    </nav>
</aside>
